/* ---------------- BACKGROUND */
$color__background-body : hsl(228, 13%, 31%);
$color__background-main : hsl(229, 33%, 72%);
$color__background-cours : hsl(0, 0%, 100%);
$color__background-header : hsl(225, 36%, 25%);
$color__background-barre : hsl(225, 36%, 25%);
$color__background-footer : hsl(226, 37%, 16%);
$color__background-link : hsl(0, 0%, 100%);
$color__background-link-hover : hsl(239, 61%, 21%);

/* ---------------- LIENS */
$color__link : hsl(221, 35%, 25%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(203, 29%, 28%);


/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(221, 35%, 25%);
$color__link__footer-hover : hsl(0, 0%, 100%);
$color__link__footer-visited : hsl(203, 29%, 28%);


/* ---------------- FONT */
$color__font-header : rgb(255, 255, 255);
$color__font-main :rgb(27, 67, 94);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 255, 255);