/* ---------------- BACKGROUND */
$color__background-body : hsl(228, 13%, 31%);
$color__background-main : hsl(229, 33%, 72%);
$color__background-cours : hsl(0, 0%, 100%);
$color__background-header : hsl(225, 36%, 25%);
$color__background-barre : hsl(225, 36%, 25%);
$color__background-footer : hsl(226, 37%, 16%);
$color__background-link : hsl(0, 0%, 100%);
$color__background-link-hover : hsl(239, 61%, 21%);

/* ---------------- LIENS */
$color__link : hsl(226, 37%, 16%);
$color__link-hover : hsl(229, 33%, 72%);
$color__link-visited : hsl(203, 29%, 28%);


/* ---------------- LIENS FOOTER */
$color__link__footer : #ffff;
$color__link__footer-hover : hsl(0, 0%, 100%);
$color__link__footer-visited : hsl(203, 29%, 28%);

/* ---------------- LIENS HEADER titre principal */
$color__link__header : hsl(221, 35%, 25%);
$color__link__header-hover : hsl(0, 0%, 100%);
$color__link__header-visited : hsl(203, 29%, 28%);


/* ---------------- FONT */
$color__font-header : rgb(255, 255, 255);
$color__font-main :rgb(27, 67, 94);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 255, 255);

/* ---------------- COULEUR MENU FOOTER */
$color__link__footer__menu : #ffff;
$color__link__footer__menu-visited : hsl(220, 16%, 74%);
$color__link__footer__menu-hover : rgb(61, 130, 220);
$background__link__footer__menu : hsl(221, 35%, 25%);
$background__link__footer__menu-visited : hsl(221, 35%, 25%);
$background__link__footer__menu-hover : #ffff;

/* ---------------- COULEUR MENU PRINCIPAL */
$color__link__menu__principal: white;
$color__link__menu__principal-visited: green;
$color__link__menu__principal-hover: hsl(221, 35%, 25%);
$background__link__menu__principal:hsl(229, 33%, 72%);
$background__link__menu__principal-visited: black;
$background__link__menu__principal-hover: white;

/* ---------------- COULEUR TITRE MAIN */
$color__link__main__titre: white;
$color__link__main__titre-hover:hsl(221, 35%, 25%);


/* ---------------- COULEUR Bouton Menu-catégorie cours */
$color__bouton__color: hsl(226, 37%, 16%);
$color__bouton__background:  hsl(220, 39%, 68%);
$color__bouton__color--hover:  hsl(203, 66%, 61%);
$color__bouton__background--hover: white;
$color__bouton__background--current: hsl(203, 80%, 40%);

/* ---------------- COULEUR carte évènements */
$couleur__carte__evenement: rgb(61, 130, 220);
$couleur__carte__evenement__background: white;
$couleur__carte__evenement--hover: rgb(241, 241, 241);
$couleur__carte__evenement__background--hover: rgb(29, 111, 219);
