.evenement__resume {
    color:white;
}

.evenement__endroit {
    color:white;
}

.evenement__heure {
    color:white;
}

.evenement__date {
    color:white;
}

.evenement__organisateur{
    color:white;
}

.evenement__organisateur{
        color:white;
}

