.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    color: $color__font-footer;
    padding: 15px;

    &__colonne { //.site__footer__colonne
      display :flex;
      justify-content: space-between;
      section { //  .site__footer__colonne  section
        flex : 0 0 30%;
        border : 1px solid #aaa;
      }
      .footer__adresse{ //.site__footer__colonne .footer__adresse 
       }
      .footer__article { }
      .footer__lien { }
  }

  &__ligne { //.site__footer__ligne
    display : flex;
    flex-direction : column;
    align-items: center;
    section {
      p{
        text-align: center;
      }
      
    }
    .footer__auteur {}
    .footer__description {}
    .footer__recherche {}
    .footer__copyright {}

  }

    &__menu{ // .site__footer__menu

      &__ul{ // .site__footer__menu__ul
          display: flex;
          list-style-type: none;
          justify-content: center;
          
          .menu-item{ // .site__footer__menu__ul .menu-item
              margin : 10px 5px;
              
            a{ // .site__footer__menu__ul .menu-item a
              display:flex;
              text-decoration: none;
              align-items:center;
              padding: 3px;
              background-color: $background__link__footer__menu;
              svg { // .site__footer__menu__ul .menu-item a svg
                color: $color__link__footer__menu;
               }
            
            &:hover {
              svg{
                color: $color__link__footer__menu-hover;
              }
            }
          }
                  }
    }
  }
 }
.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: center;
}