.site__header {
    background-color: $color__background-header;
    color: $color__font-header;
    padding-left: 10px;
    display: flex;
    flex-direction: column;


    @media screen and (min-width :$largeur__media--tablette){
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__titre{ // .site__header__titre
      display: flex;
      flex-direction: row;
      align-items: center;
      h1 { // .site__header__titre h1
        font-size: clamp(2rem, 3vw, 7rem);
        font-family: $font__titre;
      }
      h2 {
        font-size: clamp(1rem, 2vw, 4rem);
        font-family: $font__main;
        margin: 0 0 0 2rem;
      }
    }

    &__util {
      display:flex;
      flex-direction: column;
      align-items: flex-end;
      width: 20%;
      @media screen and (min-width :$largeur__media--tablette){
        width:23%; 
      }
    }


  }

  .icone {
    &__lien{
      
    }
    svg{

    }
  }

  .recherche {

    width: 100%;
    position: relative;
    background-color: rgba(#000, .1);
    
    &__input {
      width: 100%;
      outline: 0;
      margin: 0;
      padding: 3.5px;
      border: 0;
    }
    &__bouton {
      position: absolute;
      right:0;
      width: 25px;
      height: 25px;
      border:none;
      outline: none;
      padding: 0;
      margin: 0;
    }
  }